@model ChatterX2.Models.ChatViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Chat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChatView.Chats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChatView.Chats)
        </dd>
        
        <dd>
            @Html.DisplayFor(model => model.AppUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChatView.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*Comment-Attempted to use ViewModel to display logged in user information associated with specific chats UNSUCCESSFULLY. Please be kind. Love Jen and James*@